/* мини посты на главной странице */

/* контейнер для всех статей */
.stories {
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    margin: 10px auto;
    padding: 10px 0px;
    flex-wrap: wrap;
    display: flex;
    width: 100%;
}

/* контейнер одной статьи */
.stories .post {
    box-shadow: 1px 1px 5px 0px rgba(50, 50, 50, 0.3);
    font-family: "Roboto", sans-serif;
    background-color: #fff;
    border-radius: 10px;
    padding-top: 20px;
    transition: 0.3s;
    font-weight: 300;
    font-size: 18px;
    margin: 25px;
    width: 400px;
}

/* название статьи */
.title {
    font-family: "Roboto Slab", sans-serif;
    color: rgba(0, 0, 0, 0.65);
    padding-bottom: 10px;
    text-align: center;
    font-weight: 500;
    margin: 10px;
}

/* название статьи hover*/
.title a:hover{
    transition: 0.3s;
    color: black;
}

/* описание мини статьи */
.text {
    color: rgba(0, 0, 0, 0.65);
    line-height: 150%;
    font-size: .95em;
    padding: 23px;
}

/* дата в мини посте */
.date {
    border-radius: 0 0 10px 10px;
    color: rgba(0, 0, 0, 0.65);
    background-color: #f9f9f9;
    padding-left: 23px;
    text-align: center;
    font-weight: 500;
    font-size: .9em;
    padding: 12px;
}

@media screen and (max-width: 1350px) {
    .stories .post {
        margin: 10px;
        width: 45%;
    }
}

@media screen and (max-width: 1200px) {
    .stories .post {
        width: 45%;
    }
}

@media screen and (max-width: 930px) {
    .stories .post {
        width: 45%;
    }
}

@media screen and (max-width: 640px) {
    .stories .post {
        margin: 10px 0px;
        width: 100%;
    }
}
