.stories {
    margin: 10px auto;
    padding: 10px 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.stories .post {
    width: 400px;
    margin: 25px;
    box-shadow: 1px 1px 5px 0px rgba(50, 50, 50, 0.5);
    background-color: #fff;
    transition: .5s;
}

@media screen and (max-width: 1350px) {
    .stories .post {
        margin: 10px;
        width: 45%;
    }
}

@media screen and (max-width: 1200px) {
    .stories .post {
        width: 45%;
    }
}

@media screen and (max-width: 930px) {
    .stories .post {
        width: 45%;
    }
}

@media screen and (max-width: 640px) {
    .stories .post {
        width: 100%;
        margin: 10px 0px;
    }
}
