/* мини посты на главной странице */

/* контейнер для всех мини-постов */
.posts-container {
    justify-content: center;
    align-items: stretch;
    flex-direction: row;
    margin: 10px auto;
    padding: 10px 0px;
    flex-wrap: wrap;
    display: flex;
    width: 100%;
}

/* контейнер одной статьи */
.posts-container .post {
    box-shadow: 1px 1px 5px 0px rgba(50, 50, 50, 0.3);
    /* box-shadow: 0 0 20px rgba(0, 0, 0, 1.0); */
    font-family: "Roboto", sans-serif;
    background-color: #fff;
    border-radius: 10px;
    padding-top: 20px;
    transition: 0.3s;
    font-weight: 300;
    font-size: 18px;
    margin: 25px;
    width: 400px;
}

/* отображение мини-постов при сужении экрана */
@media screen and (max-width: 1350px) {
    .posts-container .post {
        margin: 10px;
        width: 45%;
    }
}

@media screen and (max-width: 1200px) {
    .posts-container .post {
        width: 45%;
    }
}

@media screen and (max-width: 930px) {
    .posts-container .post {
        width: 45%;
    }
}

@media screen and (max-width: 640px) {
    .posts-container .post {
        margin: 10px 0px;
        width: 100%;
    }
}
