/* горизонтальная полоса меню - Главная/Страны/Галерея/Об авторе */
.menu-component {
    justify-content: center;
    align-items: center;
    margin-top: 44px;
    display: flex;
    flex: 1;
}

.menu-component .main-menu {
    background: transparent;
    margin-top: 0px;
    flex: 1;
}

tooltip {
    display: none;
}

.slide-up-leave {
    transition: 0;
    opacity: 0;
}

/* главная */
.main-menu .ant-menu-item a{
    text-decoration: none;
    border-bottom: none;
    transition: .3s;
    color: #FFFFFF;
}

/* главная hover */
.main-menu .ant-menu-item a:hover{
    border-bottom: none;
    color: #A9A9A9;
}

/* страны */
.main-menu .ant-menu-submenu-horizontal > .ant-menu-submenu-title{
    border-bottom: none;
    color: #FFFFFF;
}

/* страны hover */
.main-menu .ant-menu-submenu-horizontal > .ant-menu-submenu-title:hover{
    border-bottom: none;
    color: #A9A9A9;
}

/* галерея, об авторе */
.main-menu .ant-menu-item,
.main-menu .ant-menu-item-selected {
    font-family:sans-serif;
    font-size:large;
    color: #FFFFFF;
}

/* ханой... */
.main-menu .ant-menu-vertical .ant-menu-sub .ant-menu-item {
    color: black;
}

/* ханой... */
.main-menu .ant-menu-vertical .ant-menu-sub .ant-menu-item-active {
    color: #A9A9A9;
}

/* галерея, об авторе hover  */
.main-menu .ant-menu-item:hover,
.main-menu .ant-menu-item-selected,
.main-menu .ant-menu-submenu:hover,
.main-menu .ant-menu-submenu-horizontal:hover,
.main-menu .ant-menu-submenu-selected {
    border-bottom: none;
    color: #A9A9A9;
}

.main-menu .ant-menu-item,
.main-menu .ant-menu-submenu,
.ant-menu-horizontal {
    border-bottom: none;
}

/*  вьетнам, таиланд... */
.main-menu .ant-menu-submenu-title,
.main-menu .ant-menu-submenu {
    font-family:sans-serif;
    font-size:large;
    color: black;
}

/*  вьетнам, таиланд...hover  */
.main-menu .ant-menu-submenu-title:hover {
    color: #A9A9A9;
}

/*  вьетнам, таиланд...after  */
.main-menu .ant-menu-submenu-title:after {
    content: '';
}

/* поиск */
.search-svg{
    align-items: flex-end;
    margin-right: 10px;
    display: flex;
    height: 100%;
}

/* поиск */
.search-svg svg {
    transition: 0.3s;
    fill: #FFFFFF;
}

/* поиск hover */
.search-svg svg:hover {
    cursor: pointer;
    fill: #A9A9A9;
}

/* поиск-поле ввода */
.search-svg input{
    margin-right: 10px;
    padding-left: 15px;
    font-size: 14px;
    outline: none;
    width: 200px;
    height: 25px;
}
