.header-slider { /* контейнер слайдера */
    box-shadow: 0 0 20px rgba(0, 0, 0, 1.0);
    justify-content: space-between;
    background-size: cover;
    margin-bottom: 30px;
    position:relative;
    display: flex;
    width: auto;
}

.header-slider button {
    margin: 25px 12px 0 16px;
    display: inline-block;
    position: relative;
    border-radius: 50%;
    cursor: pointer;
    height: 8px;
    width: 8px;
}

.header-slider button:before { /* точки прокрутки слайдера */
    color: #FFFFFF !important;
    transition: .3s;
}

.header-slider button:after {
    position: absolute;
    border-radius: 50%;
    display: block;
    content: " ";
    height: 12px;
    width: 12px;
    left: 2px;
    top: 2px;
}

.header-slider .slick-arrow {
    display: none !important;
}

.header-slider .slick-dots {
    bottom: -35px;
}

.img-container {
    background-position: center;
    background-size: cover;
    height: 300px;
    width: 100%;
}

.header-slider-container {
    position: relative;
}

.header-slider-container .slick-slider {
    opacity: 0.6;
}

.header-slider-container .logo {
    justify-content: center;
    align-items: center;
    position: absolute;
    display: flex;
    height: 100%;
    width: 100%;
    top: 0;
}

.header-slider-container .logo img {
    width: 600px;
}
