.social-links {
    justify-content: flex-end;
    display: flex;
    padding: 10px;
}

.social-links svg {
    margin-right: 5px;
    margin-left: 5px;
    height: 30px;
    width: 30px;
}

/* иконки f/insta */
.social-links svg path{
    fill: #FFFFFF !important;
    transition: 0.3s;
}

/* иконки f/insta hover */
.social-links svg:hover path {
    fill: #A9A9A9 !important;
}

.social-links svg:hover {
    cursor: pointer;
}
