/* мини-посты на главной странице */
/* название мини-поста (большой и маленький контейнер) */
.mini-post .title,
.mini-post .title a {
    font-family: "Roboto Slab", sans-serif;
    color:rgba(0, 0, 0, 0.65);
    text-decoration: none;
    padding-bottom: 10px;
    text-align: center;
    font-weight: 500;
    font-size: 22px;
    margin: 10px;
}

/* название мини-поста при наведении */
.mini-post .title:hover,
.mini-post .title a:hover {
    transition: 0.4s;
    color: black;
}

/* ограничение изображения мини-поста при увеличении */
/* при наведении картинка остается в контейнере */
.mini-post .imgs {
    overflow: hidden;
}

/* размер изображения мини-поста */
.mini-post .imgs img{
    transition: 0.3s;
    width: 400px;
}

/* увеличение изображения мини-поста при наведении */
.mini-post .imgs img:hover{
    transform: scale(1.1);
}

/* текст под мини-постом */
.mini-post .text {
    color:rgba(0, 0, 0, 0.65);
    line-height: 150%;
    font-size: 15px;
    padding: 20px;
}

/* дата под мини-постом */
.mini-post .date {
    border-radius: 0 0 10px 10px;
    background-color: #f9f9f9;
    color:rgba(0, 0, 0, 0.65);
    align-items: center;
    text-align: center;
    padding-left: 23px;
    font-weight: 500;
    font-size: .9em;
    padding: 10px;
    display: flex;
}

/* svg даты под мини-постом */
.mini-post .date svg {
    padding-right: 10px;
}

/* отображение мини-постов при сужении экрана */
@media screen and (max-width: 1350px) {
    .mini-post .imgs img {
        height: 100%;
        width: 100%;
    }
}

@media screen and (max-width: 1200px) {
    .mini-post .imgs img {
        height: 100%;
        width: 100%;
    }
}

@media screen and (max-width: 930px) {
    .mini-post .imgs img{
        height: 100%;
        width: 100%;
    }
}

@media screen and (max-width: 640px) {
    .mini-post .imgs img {
        height: 100%;
        width: 100%;
    }
}
