/* мини-посты на главной странице */
/* название поста */
.mini-post .title {
    font-family: "Roboto Slab", sans-serif;
    color:rgba(0, 0, 0, 0.65);
    text-align: center;
    font-size: 1.25em;
    margin: 10px;
}

.mini-post .title a {
    color:rgba(0, 0, 0, 0.65);
    text-decoration: none;
}

.mini-post .title a:hover{
    color:black;
}

.mini-post .title:hover{
    transition: 0.4s;
    color: black;
}

/* изображение мини-поста */
.mini-post .imgs {
    overflow: hidden;
}

.mini-post .imgs img{
    transition: 0.3s;
    width: 400px;
}

.mini-post .imgs img:hover{
    transform: scale(1.2);
}

/* текст под мини-постом */
.mini-post .text {
    color:rgba(0, 0, 0, 0.65);
    font-size: 15px;
    padding: 15px;
}

/* дата под мини-постом */
.mini-post .date {
    color:rgba(0, 0, 0, 0.65);
    align-items: center;
    padding: 10px;
    display: flex;
}

.mini-post .date svg {
    padding-right: 10px;
}

@media screen and (max-width: 1350px) {
    .mini-post .imgs img {
        height: 100%;
        width: 100%;
    }
}

@media screen and (max-width: 1200px) {
    .mini-post .imgs img {
        height: 100%;
        width: 100%;
    }
}

@media screen and (max-width: 930px) {
    .mini-post .imgs img{
        height: 100%;
        width: 100%;
    }
}

@media screen and (max-width: 640px) {
    .mini-post .imgs img {
        height: 100%;
        width: 100%;
    }
}
