.title {
    text-align: center;
    font-size: 18px;
    color:rgba(0, 0, 0, 0.65);
    margin: 10px;
}

.title:hover{
    transition: 0.3s;
    color: black;
}

.imgs {
    overflow: hidden;
}

.imgs img{
    width: 400px;
    transition: 0.3s;
}

.imgs img:hover{
    transform: scale(1.3);
}

.text {
    padding: 15px;
    font-size: 15px;
    color:rgba(0, 0, 0, 0.65);
}

.date {
    padding: 10px;
    color:rgba(0, 0, 0, 0.65);
}

@media screen and (max-width: 1350px) {
    .imgs img {
        width: 100%;
        height: 100%;
    }
}

@media screen and (max-width: 1200px) {
    .imgs img {
        width: 100%;
        height: 100%;
    }
}

@media screen and (max-width: 930px) {
    .imgs img{
        width: 100%;
        height: 100%;
    }
}

@media screen and (max-width: 640px) {
    .imgs img {
        width: 100%;
        height: 100%;
    }
}
